# R stuff
.Rproj.user
.Rhistory
.Rdata

# quarto stuff
/.quarto/
.quarto

# random stuff
.httr-oauth
.DS_Store

# data, data, data
**/**/data/*
**/**/fonts/*
**/**/temp/*
**/**/gwent_decks/*
**/**/gwent_listas/*

# models and stuff
**/**/models/*